version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "03:00"
    open-pull-requests-limit: 5
    reviewers:
      - "VOTRE_USERNAME"
    commit-message:
      prefix: "chore:"
      include: "scope"
    allow:
      - dependency-type: "all"
